*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.container{
    width:95%;
    margin:30px auto;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:25px;
}

.header h2{
    color:#d32f2f;
    font-size:30px;
}

.add-btn{
    background:#d32f2f;
    color:#fff;
    border:none;
    padding:12px 22px;
    border-radius:8px;
    cursor:pointer;
    font-size:15px;
    font-weight:bold;
    transition:.3s;
}

.add-btn:hover{
    background:#b71c1c;
    transform:scale(1.05);
}

table{
    width:100%;
    background:#fff;
    border-collapse:collapse;
    border-radius:10px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,.15);
}

thead{
    background:#d32f2f;
    color:white;
}

th{
    padding:15px;
    text-align:center;
    font-size:16px;
}

td{
    padding:15px;
    text-align:center;
    border-bottom:1px solid #eee;
}

tbody tr:hover{
    background:#f8f8f8;
}

.blood{
    background:#d32f2f;
    color:white;
    padding:5px 10px;
    border-radius:20px;
    font-weight:bold;
}

.yes{
    color:green;
    font-weight:bold;
}

.no{
    color:red;
    font-weight:bold;
}

.edit-btn,
.delete-btn{
    border:none;
    padding:8px 15px;
    border-radius:6px;
    cursor:pointer;
    color:white;
    font-weight:bold;
    margin:3px;
    transition:0.3s;
}

.edit-btn{
    background:#1976d2;
}

.edit-btn:hover{
    background:#0d47a1;
}

.delete-btn{
    background:#d32f2f;
}

.delete-btn:hover{
    background:#b71c1c;
}

.no-data{
    text-align:center;
    font-size:18px;
    color:#777;
    padding:25px;
}